@use 'index';
@use 'animations';

.balloon {
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  width: 17em;
  height: 20em;
  animation: fly-to-top 2s infinite;
}

$colors: ('purple': index.$purple-balloon, 'orange': index.$orange-balloon, 'green': index.$green-balloon);
$side: 'left'; //used to determine which side of balloons to work on
@while $side != 'finished' {
  @each $color-name, $color in $colors {
    //applies styling to each balloon
    .#{$color-name}-balloon-#{$side} {
      @extend .balloon;
      background-color: $color;
    }
  }

  @if $side == 'left' {
    $side: 'right';
  }
  @else if $side == 'right' {
    $side: 'finished'; //used in order to finalize the loop
  }
}