@use 'index';
@use 'mixins';
@use 'animations';

@mixin balloon($color, $side, $position) {
  @include mixins.center-element("h");
  background-color: $color;
  #{$side}: $position;
  bottom: 0;
  border-radius: 50%;
  width: 17em;
  height: 20em;
  visibility: hidden;
  animation: fly-to-top 2s 4.5s infinite;
}

$colors: ('purple': index.$purple-balloon, 'orange': index.$orange-balloon, 'green': index.$green-balloon);
$side: 'left'; //used to determine which side of balloons to work on

@while $side != 'finished' {
  $i: 1%; //Used to position balloons differently horizontally (resets for both sides (right & left side))
  @each $color-name, $color in $colors {
    //applies styling to each balloon
    .#{$color-name}-balloon-#{$side} {
      @include balloon($color, $side, $i * -25);
      $i: $i + 1;
    }
  }

  @if $side == 'left' {
    $side: 'right';
  }
  @else if $side == 'right' {
    $side: 'finished'; //used in order to finalize the loop
  }
}