@use 'index';
@use 'mixins';
@use 'animations';

.birthday-txt-container {
  @include mixins.center-element("h");
  visibility: hidden;
  animation: pop-up-text 1.5s 3s forwards;
}

.birthday-txt {
  @include mixins.center-element("h");
  bottom: 10%;
  text-align: center;
  color: index.$jsy-secondary;
  font-weight: 900;
  font-size: 5em;
  text-shadow: .05em .05em #000;
  font-family: 'Roboto', sans-serif;
  animation: text-highlight 1s 3.3s infinite;
}