@charset "UTF-8";

/* Variables */
$jsy-primary: #183c88;
$jsy-secondary: #fac903;
$jsy-tertiary: #e3e5f1;
$balloon-color-1: #631886;
$ballon-color-2: #866318;
$ballon-color-3: #3B8618;
$background-color: #3F71DD;
$shadow-color: black;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}