@charset "UTF-8";

/* Variables */
$jsy-primary: #183c88;
$jsy-secondary: #fac903;
$jsy-tertiary: #e3e5f1;
$purple-balloon: #631886;
$orange-balloon: #866318;
$green-balloon: #3B8618;
$background-color: #3F71DD;
$shadow-color: black;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}