@use 'index';
@use 'mixins';
@use 'animations';
@use 'sass:math';

/* The backbone of the Jersey */
.jersey {
  @include mixins.center-element("h&v");
  bottom: 20%;
  background: index.$jsy-primary;
  width: 8em;
  height: 13em;
  visibility: hidden;
  animation: swing-from-right 800ms 2s forwards;
  z-index: 3;
}

.stripe-container {
  position: absolute;
  left: 0;
  right: 0;
  width: inherit;
  background: transparent;
  overflow: hidden;
}

//used to add styling for stripes
@mixin stripe($color, $border-width, $width, $height) {
  position: absolute;
  width: $width;
  height: $height;

  @if ($color == 'yellow') {
    @if ($border-width != 0) {
      border: $border-width solid index.$jsy-secondary;
      background: index.$background-color;
      border-radius: 50%;
    }
    @else {
      background: index.$jsy-secondary;
    }
  }
  @if ($color == 'white') {
    @if ($border-width != 0) {
      border: $border-width solid index.$jsy-tertiary;
      background: index.$background-color;
      border-radius: 50%;
    }
    @else {
      background: index.$jsy-tertiary;
    }
  }
}

/* For top stripes */
.jsy-top-stripes {
  @extend .stripe-container;
  height: 33%;
  top: 0;
  z-index: 5;

  .top-left {
    @include stripe('yellow', .5em, 80%, 100%);
    transform: rotate(-90deg);
    top: -20%;
    left: -45%;
  }

  .top-center.outermost {
    @include stripe('yellow', 1.2em, 40%, 20%);
    @include mixins.center-element("h");
    top: -35%;
  }

  .top-center.innermost {
    @include stripe('white', 1.2em, 40%, 20%);
    @include mixins.center-element("h");
    top: -45%;
  }

  .top-right {
    @include stripe('yellow', .5em, 80%, 100%);
    transform: rotate(90deg);
    top: -20%;
    right: -45%;
  }
}

/* For bottom stripes */
.jsy-btm-stripes {
  @extend .stripe-container;
  height: 67%;
  bottom: 0em;
  z-index: 4;

  .btm-left {
    @include stripe('white', 0, .35em, 100%);
    bottom: 0em;
    left: 2%;
  }

  .btm-right {
    @include stripe('white', 0, .35em, 100%);
    bottom: 0em;
    right: 2%;
  }
}

/* For text on jersey */
@mixin jsy-txt($font-size) {
  position: absolute;
  @include mixins.center-element("h");
  color: index.$jsy-secondary;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: $font-size;
}

.jsy-name {
  @include jsy-txt(1.3em);
  top: 10%;
}

.jsy-num {
  @include jsy-txt(4em);
  top: 20%;
}