@use 'index';
@use 'mixins';
@use 'animations';
@use 'sass:math';

/* The backbone of the Jersey */
.jersey {
  @include mixins.center-element("h");
  top: 20%;
  background: index.$jsy-primary;
  width: 22em;
  height: 30em;
  visibility: hidden;
  animation: swing-from-right 800ms 2s forwards;
  z-index: 3;
}

.stripe-container {
  position: absolute;
  left: 0;
  right: 0;
  width: inherit;
  background: transparent;
  overflow: hidden;
  z-index: 4;
}

//used to add styling for stripes
@mixin stripe($color, $border-radius, $width, $height) {
  position: absolute;
  width: $width;
  height: $height;
  z-index: 5;

  @if ($color == 'yellow') {
    background: index.$jsy-secondary;
    border-radius: $border-radius;
  }
  @if ($color == 'white') {
    @if ($border-radius != 0) {
      background: index.$jsy-tertiary;
      border-radius: $border-radius;
    }
    @else {
      background: index.$jsy-tertiary;
    }
  }
}

/* For top stripes */
.jsy-top-stripes {
  @extend .stripe-container;
  height: 33%;
  top: 0;

  .top-left {
    @include stripe('yellow', 30%, 40%, 100%);
    transform: rotate(45deg);
    top: -5%;
    left: -10%;
  }

  .top-center.outermost {
    @include stripe('yellow', 40%, 40%, 20%);
    @include mixins.center-element("h");
    top: 0;
    z-index: 6; //outermost center stripe should be on top innermost center stripe
  }

  .top-center.innermost {
    @include stripe('white', 40%, 40%, 20%);
    @include mixins.center-element("h");
    top: 0;
  }

  .top-right {
    @include stripe('yellow', 30%, 40%, 100%);
    transform: rotate(-45deg);
    top: -5%;
    right: -10%;
  }
}

/* For bottom stripes */
.jsy-btm-stripes {
  @extend .stripe-container;
  height: 67%;
  bottom: 0em;


  .btm-left {
    @include stripe('white', 0, 10%, 100%);
    bottom: 0em;
    left: 3%;
  }

  .btm-right {
    @include stripe('white', 0, 10%, 100%);
    bottom: 0em;
    right: 3%;
  }
}

/* For text on jersey */
@mixin jsy-txt($font-size) {
  position: absolute;
  @include mixins.center-element("h");
  color: index.$jsy-secondary;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: $font-size;
}

.jsy-name {
  @include jsy-txt(4em);
  top: 20%;
}

.jsy-num {
  @include jsy-txt(7em);
  top: 40%;
}