@use 'index';

@mixin center-element($direction) {
  position: absolute;

  @if $direction == "h" {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  @if $direction == "v" {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  @if $direction == "h&v" {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}