@use 'index';
@use 'birthday-text';

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
/* Partials import */

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  background: index.$background-color;
}