@charset "UTF-8";
/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --jersey-primary: #183c88;
  --jersey-secondary: #fac903;
  --jersey-tertiary: #e3e5f1;
  --balloon-color-1: #631886;
  --ballon-color-2: #866318;
  --ballon-color-3: #3B8618;
  --background: #3F71DD;
  --shadow-color: black;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  background-color: var(--background);
}

.birthday-text {
  color: var(--jersey-secondary);
  font-weight: 900;
  font-size: 4em;
  text-shadow: .05em .05em var(--shadow-color);
  font-family: 'Roboto', sans-serif;
}