@import 'index';

.birthday-txt {
  color: $jersey-secondary;
  font-weight: 900;
  font-size: 4em;
  text-shadow: .05em .05em $shadow-color;
  font-family: 'Roboto', sans-serif;
  margin: 1em auto;
  text-align: center;
}